/* ===================================
   Tasks
=================================== */
:root{
  --task-bg: rgba(255, 243, 176, 1);                   /* Hellgelb für Tasks */
  --task-bg-hover: rgba(248, 216, 75, 1);              /* Intensiveres Gelb beim Hover */
  --task-box-shadow: rgba(0, 0, 0, 0.1);               /* Schatten für Tasks */
  --task-box-shadow-hover: rgba(0, 0, 0, 0.2);         /* Hover-Schatten für Tasks */
  --task-employee-font: rgba(85, 85, 85, 1);           /* Dunkelgrau für Mitarbeitertext */
  --task-endDate-bg: rgba(255, 97, 97, 1);             /* Blasses Rot für Tasks am Enddatum */
  --task-endDate-bg-hover: rgba(248, 29, 29,1);        /* Intensiveres Rot beim Hover */
  --task-taskButtons-bg: rgba(220,220,220,1);          /* Hellgrau für Task-Buttons */
  --task-taskButtons-bg-hover: rgba(200,200,200,1);    /* Dunkleres Hellgrau beim Hover */
}

/* Container für jede Task */
.task {
    background-color: var(--task-bg); 
    padding: 4px 6px;
    border-radius: 4px;
    display: flex;
    flex-direction: column; /* Titel und Buttons oben, Mitarbeiter unten */
    gap: 4px;
    box-shadow: 0 1px 3px var(--task-box-shadow);
}

.task:hover {
    background-color: var(--task-bg-hover);
    box-shadow: 0 3px 6px var(--task-box-shadow-hover); 
}

/* Für Task-Titel und Buttons (Details, Bearbeiten, Löschen) */
.task__header {
    display: flex;
    justify-content: space-between; /* Titel links, Buttons rechts */
    align-items: flex-start;
}

/* Container für die Buttons */
.task__buttons button {
    margin-left: 4px; /* Abstand zwischen Buttons */
    padding: 2px 4px;
    font-size: 12px;
    cursor: pointer;
    background-color: var(--task-taskButtons-bg);
    border: none;

    transition: background-color 0.2s ease;
}

.task__buttons button:hover {
    background-color: var(--task-taskButtons-bg-hover);
}

.task__title {
    font-weight: bold;
    font-size: 14px;

    flex: 1;
    min-width: 0;
    max-width: 100%;

    /* Titel geht nicht über Container hinaus, wird 2 Zeilen angezeigt */
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    line-clamp: 2;      
    -webkit-box-orient: vertical;  

    overflow-wrap: break-word;

    overflow: hidden;  
}

.task__employee {
    color: var(--task-employee-font);
    overflow-wrap: break-word;
}

.task__endDate {
    background-color: var(--task-endDate-bg);
}

.task__endDate:hover {
    background-color: var(--task-endDate-bg-hover);
    box-shadow: 0 3px 6px var(--task-box-shadow-hover); 
}